{% extends 'base.html' %}
{% from "macro/formhelpers.html" import render_field %}

{% block title %}
Login page
{% endblock %}

{% block body %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}


    {% if errors %}
        {% for error in errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    {% endif %}

<form method="POST">
{{ form.csrf_token }}
{% for field in ['username','password'] %}
{{ render_field(form[field]) }}
{% endfor %}
{{ form.submit(class="btn btn-primary mb-3") }}
    <a href="{{ url_for('auth.register') }}" class="btn btn-primary mb-3" style="margin-left: 20px;">Register</a>
</form>
{% endblock %}
