{% extends 'base.html' %}

{% block title %}
Article fetails
{% endblock %}

{% block body %}
<div class="container">

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{ 'Title' }}</th>
            <th scope="col">{{ 'Author' }}</th>
            <th scope="col">{{ 'Text' }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">{{ article.id }}</th>
            <td>
                {{ article.title }}
            </td>
            <td>
                <a href="{{ url_for('user.user_details', pk=article.author.user.id ) }}">
                    {{ article.author.user.username }}
                </a>

                {# article.author.user.username #}
            </td>
            <td>
                {{ article.text[:30] }}
            </td>
        </tr>
        </tbody>
    </table>
    <div class="border border-primary rounded"
         style="max-width: 600px; height: 200px; margin-top: 50px;">
        <div style="padding: 10px;">
            <h3 style="margin: 3px;">
                The Text of Article :
            </h3>
            <p class="lead">
                {{ article.text }}
            </p>
        </div>
    </div>
    <div class="col-6">
        {% for tag in article.tags %}

        {# <a href="{{ url_for('user.user_details', pk=article.author.user.id ) }}"> {{ article.author.user.username }} </a> #}

        <a class="badge bg-primary" href="{{ url_for('article.article_tag_details', pk=tag.id ) }}"> {{ tag.name }}  </a>
        {# <span class="badge bg-primary">{{ tag.name }} </span>  #}
        {% endfor %}
    </div>

</div>


{% endblock %}