{% extends 'base.html' %}

{% block title %}
Article list
{% endblock %}

{% block body %}
<div class="container">

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{ 'Title' }}</th>
            <th scope="col">{{ 'Author' }}</th>
            <th scope="col">{{ 'Text' }}</th>
            <th scope="col">{{ 'Tags' }}</th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}

        <tr>
            <th scope="row">{{ article.id }}</th>

            <td>
                <a href="{{ url_for('article.article_details', pk=article.id ) }}"> {{ article.title }} </a>
            </td>
            <td>
                <a href="{{ url_for('user.user_details', pk=article.author.user_id ) }}">
                    {{ article.author.user.username }}
                </a>
            </td>
            <td>
                {{ article.text[:30] }}
            </td>
            <td>
                {% for tag in article.tags %}
                <a class="badge bg-primary" href="{{ url_for('article.article_tag_details', pk=tag.id ) }}"> {{ tag.name }} ({{tag.id}}), </a>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>


</div>


{% endblock %}